<div>
  <app-menu2 [nombreUser]="nombreUser"></app-menu2>
  <div  style="height: calc(100vh - 60px); overflow-y: auto;">
    <!-- Cuando no hay carrera en proceso -->
    <div *ngIf="carreraExistente.length === 0 || carreraExistente === undefined">
      <div class="card">
        <div class="card-body">
          <h1><strong>Actualmente no hay carrera en proceso.</strong></h1>
        </div>
      </div>
    </div>

    <!-- Cuando hay carrera en proceso -->
    <div class="m-5" *ngIf="carreraExistente.length !== 0">
      <div class="card">
        <div class="card-header" style="padding-top: 0; padding-bottom: 0;">
          <h1 class="text-dark">Carrera en proceso</h1>
        </div>
        <div class="card-body">
          <div><span>Mi destino: {{ carreraExistenteJson.finRuta }}</span></div>
          <div><span>Fecha: {{ fecha }}</span></div>
          <div><span>Hora: {{ hora }}</span></div>
          <div><span>Precio: {{ carreraExistenteJson.precio }}</span></div>
          <div><span>Asientos disponible: {{ carreraExistenteJson.disponibilidad }}</span></div>

          <div class="mt-3" *ngIf="carreraExistenteJson.estado !== 'iniciada'">
            <span class="text-dark" style="font-size: small;">Esperando iniciar carrera</span>
          </div>
          <div class="mt-3" *ngIf="carreraExistenteJson.estado === 'iniciada'">
            <span class="text-success" style="font-size: large;">Carrera iniciada</span>
          </div>

          <!-- Botones -->
          <div>
            <div *ngIf="carreraExistenteJson.estado !== 'iniciada'">
              <button class="btn btn-success" (click)="iniciarCarrera()" [disabled]="deshabilitar">
                <i class="bi bi-play"></i>
                Iniciar Carrera
              </button>
              <div *ngIf="deshabilitar === true">
                <span class="text-danger text-extra-small">*no se puede iniciar sin pasajeros</span>
              </div>
            </div>

            <div class="mt-3">
              <button class="btn btn-secondary btn-block w-100" [disabled]="deshabilitar" (click)="finalizarCarrera()">
                <i class="bi bi-box-arrow-right"></i>
                Finalizar</button>
                <div *ngIf="deshabilitar === true">
                  <span class="text-danger text-extra-small">*no se puede finalizar sin haber iniciado la carrera.</span>
                </div>
            </div>

            <div class="mt-3">
              <button class="btn btn-danger btn-block w-100" (click)="eliminarCarrera()">
                <i class="bi bi-x-octagon"></i>
                Cancelar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Acordeón -->
      <div class="accordion" id="viajesAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Viajes - pasajeros ({{ viajes.length }})
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#viajesAccordion">
            <div class="accordion-body">
              <div *ngFor="let c of viajes" class="mb-3">
                <h4><strong>{{ capitalizeFirstLetter(c.nombre) }}</strong></h4>
                <div>
                  <span>Cantidad de pasajeros: {{ c.cantidadPersonas }}</span>
                </div>
                <div>
                  <span>Número de teléfono: {{ c.telefono }}</span>
                </div>
                <div>
                  <span>Destino: {{ c.destino }}</span>
                </div>
                <button class="btn btn-link text-decoration-none text-primary" (click)="verRecorrido(c)">
                  <i class="bi bi-geo-alt"></i> Ver el recorrido aquí
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>