<div>
  <!-- Menu de navegación -->
  <app-menu2 [nombreUser]="nombreUser"></app-menu2>

  <!-- Card principal -->
  <div class="card shadow m-2">
    <div class="card-body">
      <div *ngIf="userConductor[0]">
        <!-- Campo: Nombre -->
        <div class="mb-3">
          <strong>Nombre:</strong>
          <span class="ms-2">{{ capitalizeFirstLetter(userConductor[0].nombre) }}</span>
        </div>

        <!-- Campo: Correo electrónico -->
        <div class="mb-3">
          <strong>Correo electrónico:</strong>
          <span class="ms-2">{{ userConductor[0].email }}</span>
        </div>

        <!-- Campo: Teléfono -->
        <div class="mb-3">
          <strong>Teléfono:</strong>
          <span class="ms-2">{{ userConductor[0].telefono }}</span>
        </div>

        <!-- Campo: Valoración -->
        <div class="mb-3">
          <strong>Valoración:</strong>
          <span class="ms-2">{{ valor }}</span>
        </div>
      </div>

      <!-- Botón: Cerrar sesión -->
      <div class="text-center">
        <button class="btn btn-danger mt-3" (click)="cerrarSesion()">
          <i class="bi bi-escape"></i>
          Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>
