.error-message {
    color: red;
    font-size: 1,5em;/* Puedes ajustar el tamaño si es necesario */
  }
  
  .success-alert {
    --background: #d4edda; /* Verde claro */
    --color: #155724; /* Texto verde oscuro */
    --button-background: #c3e6cb; /* Fondo de botón */
    --button-color: #155724; /* Texto del botón */
  }
  
  /* Alerta de error */
  .error-alert {
    --background: #f8d7da; /* Rojo claro */
    --color: #721c24; /* Texto rojo oscuro */
    --button-background: #f5c6cb; /* Fondo de botón */
    --button-color: #721c24; /* Texto del botón */
  }