
<main class="container d-flex align-items-center justify-content-center" style="height: 80vh;">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-header text-center bg-primary text-white">
        <h5 class="card-title">Recuperar Contraseña</h5>
      </div>
      <div class="card-body">
        <!-- Imagen -->
        <div class="text-center mb-3">
          <img src="assets/icon/Logo.png" class="img-fluid animate__animated animate__zoomInUp" alt="Logo">
        </div>

        <!-- Formulario -->
        <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
          <!-- Input de correo -->
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input id="email" type="email" class="form-control" formControlName="email" placeholder="Ingresa tu correo">
            <!-- Mensajes de error -->
            <div *ngIf="recoverForm.get('email')?.invalid && recoverForm.get('email')?.touched" class="text-danger small mt-1">
              <small *ngIf="recoverForm.get('email')?.errors?.['required']">Este campo es requerido.</small>
              <small *ngIf="recoverForm.get('email')?.errors?.['pattern']">Correo no válido.</small>
            </div>
          </div>

          <!-- Botón Enviar -->
          <div class="text-center">
            <button type="submit" class="btn btn-success" [disabled]="recoverForm.invalid">Enviar</button>
          </div>
        </form>

        <!-- Mensaje de acceso -->
        <div class="text-center mt-4">
          <h6>¿Ya tienes contraseña?</h6>
          <p>
            Entonces, <a routerLink="/login" class="text-decoration-none">haz clic aquí</a> para acceder.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
