.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
  }
  
  .scrollable-content {
    flex: 1; /* Ocupa el espacio restante debajo del header */
    overflow-y: auto; /* Scroll vertical */
    padding: 1rem; /* Espaciado interno opcional */
  }