<!-- Modal Bootstrap -->
<div class="modal fade" id="detallePasajeModal" tabindex="-1" aria-labelledby="detallePasajeModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="detallePasajeModalLabel">Detalles del Pasaje</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form [formGroup]="FormConfimacionPasaje">
          <!-- Cantidad de personas -->
          <div class="mb-3">
            <label for="cantidadPersonas" class="form-label">Cantidad de personas</label>
            <input type="number" id="cantidadPersonas" formControlName="cantidadPersonas" class="form-control" />
            <div *ngIf="FormConfimacionPasaje.get('cantidadPersonas')?.invalid && FormConfimacionPasaje.get('cantidadPersonas')?.touched" class="text-danger">
              <small *ngIf="FormConfimacionPasaje.get('cantidadPersonas')?.errors?.['required']">Este campo es requerido.</small>
              <small *ngIf="FormConfimacionPasaje.get('cantidadPersonas')?.errors?.['min']">Debe ser un numero positivo.</small>
              <small *ngIf="FormConfimacionPasaje.get('cantidadPersonas')?.errors?.['cantidadPersonasMayorQueDisponibilidad']">
                La cantidad de pasajeros no puede ser mayor a la disponibilidad.
              </small>
            </div>
          </div>

          <!-- Destino -->
          <div class="mb-3">
            <label for="destino" class="form-label">Destino</label>
            <input type="text" id="destino" formControlName="destino" class="form-control" />
            <div *ngIf="FormConfimacionPasaje.get('destino')?.invalid && FormConfimacionPasaje.get('destino')?.touched" class="text-danger">
              <small>Este campo es requerido.</small>
            </div>
          </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancel()">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="confirm()" [disabled]="!FormConfimacionPasaje.valid">Confirmar</button>
      </div>
    </div>
  </div>
</div>