<div>
  <div class="container-fluid bg-primary text-white py-2 d-flex align-items-center">
    <button class="btn btn-light btn-sm me-3" (click)="volver()">
      <i class="bi bi-arrow-left"></i>
    </button>
    <h1 class="h5 text-center flex-grow-1 mb-0">Detalle viaje</h1>
  </div>
  <div *ngIf="carreraExistente">
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <strong>Nombre:</strong> {{ carreraExistente.nombre }}
        </div>
        <div class="mb-3">
          <strong>Patente:</strong> {{ carreraExistente.patente }}
        </div>
        <div class="mb-3">
          <strong>Disponibilidad de asientos:</strong> {{ carreraExistente.disponibilidad }}
        </div>
        <div class="mb-3">
          <strong>Fecha:</strong> {{ extraerFecha(carreraExistente.hora) }}
        </div>
        <div class="mb-3">
          <strong>Hora:</strong> {{ extraerHora(carreraExistente.hora) }}
        </div>
        <div class="mb-3">
          <strong>Punto de encuentro:</strong> {{ carreraExistente.inicioRuta }}
        </div>
        <div class="mb-3">
          <strong>Destino del conductor:</strong> {{ carreraExistente.finRuta }}
        </div>
        <div class="mb-3">
          <strong>Precio:</strong> {{ carreraExistente.precio }}
        </div>
        <div class="mb-3">
          <strong>Comentario Adicional:</strong> {{ carreraExistente.comentarioA }}
        </div>
        <div class="mb-3">
          <strong>Valoración del conductor:</strong> {{ valor }}
        </div>
      </div>
    </div>

    <div class="mb-3">
      <button type="button" class="btn btn-success m-3" data-bs-toggle="modal" data-bs-target="#detallePasajeModal">
        <i class="bi bi-floppy"></i>
        Reservar
      </button>
      <app-confirmacion-pasejero [carrera]="carreraExistente"></app-confirmacion-pasejero>
    </div> 
  </div>
</div>
