.tabs-container {
    height: 100vh; /* Asegura que las pestañas ocupen todo el alto de la ventana */
    display: flex;
    flex-direction: column;
  
    mat-tab-group {
      flex: 1; /* Permite que las pestañas crezcan para llenar el espacio */
      display: flex;
      flex-direction: column;
  
      .tab-content {
        flex: 1;
        overflow-y: auto; /* Habilita el desplazamiento si el contenido excede el tamaño */
        padding: 16px;
      }
    }
  }
  