<div class="tabs-container">
  <mat-tab-group>
    <!-- Tab Home -->
    <mat-tab label="Home">
      <div class="tab-content">
        <app-conductor></app-conductor>
      </div>
    </mat-tab>

    <!-- Tab Carreras -->
    <mat-tab label="Carreras">
      <div class="tab-content">
        <app-carreras-en-proceso></app-carreras-en-proceso>
      </div>
    </mat-tab>

    <!-- Tab Perfil -->
    <mat-tab label="Perfil">
      <div class="tab-content">
        <app-perfil-usuario></app-perfil-usuario>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
