<div class="container-fluid p-0">
  <!-- Header -->
  <header class="bg-primary text-white py-3 text-center">
    <h3>Registro Usuario</h3>
  </header>

  <div class="container mt-3" style="max-height: 90vh; overflow-y: auto;">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6">
        <div class="card shadow mb-5">
          <div class="card-header text-center">
            <h5 *ngIf="selectedForm">Registro Pasajero</h5>
            <h5 *ngIf="!selectedForm">Registro Conductor</h5>
          </div>
          <div class="card-body">
            <!-- Botones para cambiar entre formularios -->
            <div class="row mb-4">
              <div class="col-6">
                <button class="btn btn-primary w-100" (click)="showForm(true)">
                  <div><i class="bi bi-people"></i></div>
                  Pasajero
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-primary w-100" (click)="showForm(false)">
                  <div><i class="bi bi-car-front"></i></div>
                  Conductor
                </button>
              </div>
            </div>

            <!-- Formulario Pasajero -->
            <form *ngIf="selectedForm" [formGroup]="formPasajero" (ngSubmit)="submitPasajero()">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre (Usuario)</label>
                <input id="nombre" type="text" formControlName="nombre" class="form-control" />
                <div *ngIf="formPasajero.get('nombre')?.touched && formPasajero.get('nombre')?.invalid"
                  class="text-danger">
                  <small *ngIf="formPasajero.get('nombre')?.errors?.['required']">Este campo es requerido.</small>
                  <small *ngIf="formPasajero.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 3
                    caracteres.</small>
                  <small *ngIf="formPasajero.get('nombre')?.errors?.['pattern']">Nombre no válido.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input id="apellido" type="text" formControlName="apellido" class="form-control" />
                <div *ngIf="formPasajero.get('apellido')?.touched && formPasajero.get('apellido')?.invalid"
                  class="text-danger">
                  <small *ngIf="formPasajero.get('apellido')?.errors?.['required']">Este campo es requerido.</small>
                  <small *ngIf="formPasajero.get('apellido')?.errors?.['minlength']">El apellido debe tener al menos 3
                    caracteres.</small>
                  <small *ngIf="formPasajero.get('apellido')?.errors?.['pattern']">Apellido no válido.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input id="email" type="email" formControlName="email" class="form-control" />
                <div *ngIf="formPasajero.get('email')?.touched && formPasajero.get('email')?.invalid"
                  class="text-danger">
                  <small *ngIf="formPasajero.get('email')?.errors?.['required']">Este campo es requerido.</small>
                  <small *ngIf="formPasajero.get('email')?.errors?.['pattern']">Correo no válido.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input id="telefono" type="text" formControlName="telefono" class="form-control" />
                <div *ngIf="formPasajero.get('telefono')?.touched && formPasajero.get('telefono')?.invalid"
                  class="text-danger">
                  <small *ngIf="formPasajero.get('telefono')?.errors?.['required']">Este campo es requerido.</small>
                  <small *ngIf="formPasajero.get('telefono')?.errors?.['pattern']">Teléfono no válido. Debe contener
                    entre 10 y 15 dígitos.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input id="password" type="password" formControlName="password" class="form-control" />
                <div *ngIf="formPasajero.get('password')?.touched && formPasajero.get('password')?.invalid"
                  class="text-danger">
                  <small *ngIf="formPasajero.get('password')?.errors?.['required']">Este campo es requerido.</small>
                  <small *ngIf="formPasajero.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6
                    caracteres.</small>
                  <small *ngIf="formPasajero.get('password')?.errors?.['pattern']">La contraseña debe ser
                    numérica.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                <input id="confirmPassword" type="password" formControlName="password2" class="form-control" />
                <div *ngIf="formPasajero.get('password2')?.touched && formPasajero.errors?.['passwordsMismatch']"
                  class="text-danger">
                  <small>Las contraseñas no coinciden.</small>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-success w-100">Registrarse</button>
              </div>
            </form>

            <!-- Formulario Conductor -->
            <form *ngIf="!selectedForm" [formGroup]="formCondutor" (ngSubmit)="submitConductor()">
              <div class="mb-3">
                <label for="nombreConductor" class="form-label">Nombre</label>
                <input id="nombreConductor" type="text" formControlName="nombre" class="form-control" />
                <div *ngIf="formCondutor.get('nombre')?.touched && formCondutor.get('nombre')?.invalid"
                  class="text-danger">
                  <small *ngIf="formCondutor.get('nombre')?.errors?.['required']">Este campo es requerido.</small>
                  <small *ngIf="formCondutor.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 3
                    caracteres.</small>
                  <small *ngIf="formCondutor.get('nombre')?.errors?.['pattern']">Nombre no válido.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="emailConductor" class="form-label">Correo Electrónico</label>
                <input id="emailConductor" type="email" formControlName="email" class="form-control" />
                <div *ngIf="formCondutor.get('email')?.touched && formCondutor.get('email')?.invalid"
                  class="text-danger">
                  <small *ngIf="formCondutor.get('email')?.errors?.['required']">Este campo es requerido.</small>
                  <small *ngIf="formCondutor.get('email')?.errors?.['pattern']">Correo no válido.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="telefonoConductor" class="form-label">Teléfono</label>
                <input id="telefonoConductor" type="text" formControlName="telefono" class="form-control" />
                <div *ngIf="formCondutor.get('telefono')?.touched && formCondutor.get('telefono')?.invalid"
                  class="text-danger">
                  <small *ngIf="formCondutor.get('telefono')?.errors?.['required']">Este campo es requerido.</small>
                  <small *ngIf="formCondutor.get('telefono')?.errors?.['pattern']">Teléfono no válido. Debe contener
                    entre 10 y 15 dígitos.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="patente" class="form-label">Patente</label>
                <input id="patente" type="text" formControlName="patente" class="form-control" />
                <div *ngIf="formCondutor.get('patente')?.touched && formCondutor.get('patente')?.invalid"
                  class="text-danger">
                  <small *ngIf="formCondutor.get('patente')?.errors?.['required']">Este campo es requerido.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="modelo" class="form-label">Modelo del Vehículo</label>
                <input id="modelo" type="text" formControlName="modelo" class="form-control" />
                <div *ngIf="formCondutor.get('modelo')?.touched && formCondutor.get('modelo')?.invalid"
                  class="text-danger">
                  <small *ngIf="formCondutor.get('modelo')?.errors?.['required']">Este campo es requerido.</small>
                  <small *ngIf="formCondutor.get('modelo')?.errors?.['minlength']">El modelo debe tener al menos 3
                    caracteres.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="anno" class="form-label">Año del Vehículo</label>
                <input id="anno" type="number" formControlName="anno" class="form-control" />
                <div *ngIf="formCondutor.get('anno')?.touched && formCondutor.get('anno')?.invalid" class="text-danger">
                  <small *ngIf="formCondutor.get('anno')?.errors?.['required']">Este campo es requerido. </small>
                  <small *ngIf="formCondutor.get('anno')?.errors?.['min']">Debe ser un número positivo de 4 dígitos.
                  </small>
                  <small *ngIf="formCondutor.get('anno')?.errors?.['max']">Debe ser un número positivo de 4 dígitos.
                  </small>
                </div>
              </div>

              <div class="mb-3">
                <label for="capacidad" class="form-label">Capacidad de Pasajeros</label>
                <input id="capacidad" type="number" formControlName="capacidad" class="form-control" />
                <div *ngIf="formCondutor.get('capacidad')?.touched && formCondutor.get('capacidad')?.invalid"
                  class="text-danger">
                  <small *ngIf="formCondutor.get('capacidad')?.errors?.['required']">Este campo es requerido. </small>
                  <small *ngIf="formCondutor.get('capacidad')?.errors?.['max']">Debe ser un máximo de 10 pasajeros.
                  </small>
                </div>
              </div>

              <div class="mb-3">
                <label for="passwordConductor" class="form-label">Contraseña</label>
                <input id="passwordConductor" type="password" formControlName="password" class="form-control" />
                <div *ngIf="formCondutor.get('password')?.touched && formCondutor.get('password')?.invalid"
                  class="text-danger">
                  <small *ngIf="formCondutor.get('password')?.errors?.['required']">Este campo es requerido. </small>
                  <small *ngIf="formCondutor.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 5
                    caracteres. </small>
                  <small *ngIf="formCondutor.get('password')?.errors?.['pattern']">La contraseña debe ser numérica.
                  </small>
                </div>
              </div>

              <div class="mb-3">
                <label for="confirmPasswordConductor" class="form-label">Confirmar Contraseña</label>
                <input id="confirmPasswordConductor" type="password" formControlName="password2" class="form-control" />
                <div *ngIf="formCondutor.get('password2')?.touched && formCondutor.errors?.['passwordsMismatch']"
                  class="text-danger">
                  <small>Las contraseñas no coinciden. </small>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-success w-100">Registrarse</button>
              </div>
            </form>

            <!-- Mensaje de acceso -->
            <div class="text-center mt-4">
              <h6>¿Ya estas registrado?</h6>
              <p>
                Entonces, <a routerLink="/login" class="text-decoration-none">haz clic aquí</a> para acceder.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>