<ion-header [translucent]="true">
  <ion-toolbar>
    <div *ngIf="userPasajero2">
      <ion-title>{{ userPasajero2.nombre }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div *ngIf="userPasajero2">
        <ion-item>
          <span><strong>Nombre:</strong></span>
          <span class="ion-margin-start">{{ userPasajero2.nombre }} {{ userPasajero2.apellido }}</span>
        </ion-item>
        <ion-item>
          <span><strong>Correo electrónico:</strong></span><span> {{ userPasajero2.email }}</span>
        </ion-item>
        <ion-item>
          <span><strong>Telefono:</strong></span><span class="ion-margin-start"> {{ userPasajero2.telefono }}</span>
        </ion-item>
      </div>
      <ion-button color="danger" (click)="cerrarSesion()" class="ion-margin">
        Cerrar sesión
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>