<div class="d-flex flex-column vh-100">
  <!-- Menú -->
  <app-menu [nombreUser]="nombreUser"></app-menu>

  <!-- Contenedor scrollable -->
  <div class="container-fluid overflow-auto flex-grow-1" style="max-height: calc(100vh - 56px);">
    <div class="container mt-3">
      <!-- Cuando hay un viaje en proceso -->
      <div *ngIf="userPasajeroJson.enViaje">
        <div class="card mb-3">
          <div class="card-body">
            <p><strong>Nombre del conductor:</strong> {{ carreraExistente.nombre }}</p>
            <p><strong>Patente:</strong> {{ carreraExistente.patente }}</p>
            <p><strong>Fecha:</strong> {{ extraerFecha(carreraExistente.hora) }}</p>
            <p><strong>Hora:</strong> {{ extraerHora(carreraExistente.hora) }}</p>
            <p><strong>Punto de encuentro:</strong> {{ carreraExistente.inicioRuta }}</p>
            <p><strong>Mi destino:</strong> {{ viajeActualJson.destino }}</p>
            <p><strong>Destino del conductor:</strong> {{ carreraExistente.finRuta }}</p>
            <p><strong>Precio:</strong> {{ carreraExistente.precio }}</p>
            <p><strong>Comentario Adicional:</strong> {{ carreraExistente.comentarioA }}</p>
            <p><strong>Valoración conductor:</strong> {{ valoracion }}</p>
            <button class="btn btn-link text-decoration-none text-primary" (click)="verRecorrido()">
              <i class="bi bi-geo-alt"></i> Ver el recorrido aquí
            </button>
          </div>
        </div>

        <button class="btn btn-danger btn-block w-100" (click)="cancelarViaje()"><i class="bi bi-x-octagon me-2"></i>Cancelar</button>
        <small class="text-muted d-block mt-2">Nota: no se podrá cancelar el viaje posterior a los 30 min antes de la hora del viaje.</small>

        <!-- Valorar conductor -->
        <div *ngIf="viajeActualJson.puntuacion == false" class="card my-3">
          <div class="card-body">
            <p class="text-center">¿Te gustaría valorar a este conductor?</p>
            <div class="row align-items-center">
              <div class="col-7">
                <input type="number" [(ngModel)]="valor" min="1" max="5" class="form-control"
                       placeholder="Valor de 1 a 5">
              </div>
              <div class="col-5">
                <button class="btn btn-primary w-100" (click)="valorar()"><i class="bi bi-send me-2"></i>Enviar</button>
              </div>
            </div>
            <div *ngIf="mensajeError" class="text-danger text-center mt-2">
              {{ mensajeError }}
            </div>
          </div>
        </div>
      </div>

      <!-- Cuando no hay un viaje en proceso -->
      <div *ngIf="userPasajeroJson.enViaje == false" class="card mt-3">
        <div class="card-body">
          <h1><strong>Actualmente no hay viaje en proceso.</strong></h1>
        </div>
      </div>
    </div>
  </div>
</div>
