<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="buttom">
      
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="viaje-actual">
        <ion-icon name="car-sport-outline"></ion-icon>
        <ion-label>Viaje </ion-label>
      </ion-tab-button>

      <ion-tab-button tab="perfil-usuario">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>usuario</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>


</ion-content>