<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <!-- Botón Cancelar -->
          <ion-button (click)="cancel()" fill="outline" color="light">
            Cancelar
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [disabled]="!formNuevaCarrera.valid" fill="outline" color="success" strong>
            Confirmar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nueva carrera</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="formNuevaCarrera">

            <ion-item>
              <ion-label position="floating">disponibilidad de asientos</ion-label>
              <ion-input formControlName="disponibilidad" type="number"></ion-input>
            </ion-item>

            <!-- <ion-item *ngIf="formNuevaCarrera.errors?.['capacidadMayorQueDisponibilidad']">
              <ion-label color="danger">La capacidad no puede ser mayor que la disponibilidad.</ion-label>
            </ion-item> -->

            <div
              *ngIf="formNuevaCarrera.get('disponibilidad')?.invalid && formNuevaCarrera.get('disponibilidad')?.touched"
              class="error-message">
              <small *ngIf="formNuevaCarrera.get('disponibilidad')?.errors?.['required']">
                Este campo es requerido.
              </small>
              <small *ngIf="formNuevaCarrera.get('disponibilidad')?.errors?.['capacidadMayorQueDisponibilidad']">
                La disponibilidad no puede ser mayor que la capacidad del auto.
              </small>
            </div>

            <ion-item>
              <ion-label position="stacked">Selecciona la fecha y la hora</ion-label>
              <ion-datetime
                formControlName="hora"
                display-format="DD MMM YYYY HH:mm"
                picker-format="DD MMM YYYY HH:mm"
                presentation="date-time">
              </ion-datetime>
            </ion-item>
            

            <div *ngIf="formNuevaCarrera.get('hora')?.invalid && formNuevaCarrera.get('hora')?.touched"
              class="error-message">
              <small *ngIf="formNuevaCarrera.get('hora')?.errors?.['required']"> Este campo es requerido.</small>
            </div>


            <ion-item>
              <ion-label position="floating">Inicio de ruta</ion-label>
              <ion-input formControlName="inicioRuta" type="text"></ion-input>
            </ion-item>

            <div *ngIf="formNuevaCarrera.get('inicioRuta')?.invalid && formNuevaCarrera.get('inicioRuta')?.touched"
              class="error-message">
              <small *ngIf="formNuevaCarrera.get('inicioRuta')?.errors?.['required']"> Este campo es requerido.</small>
            </div>

            <ion-item>
              <ion-label position="floating">fin de ruta</ion-label>
              <ion-input formControlName="finRuta" type="text"></ion-input>
            </ion-item>

            <div *ngIf="formNuevaCarrera.get('finRuta')?.invalid && formNuevaCarrera.get('finRuta')?.touched"
              class="error-message">
              <small *ngIf="formNuevaCarrera.get('finRuta')?.errors?.['required']"> Este campo es requerido.</small>
            </div>

            <ion-item>
              <ion-label position="floating">precio</ion-label>
              <ion-input formControlName="precio" type="number"></ion-input>
            </ion-item>

            <div *ngIf="formNuevaCarrera.get('precio')?.invalid && formNuevaCarrera.get('precio')?.touched"
              class="error-message">
              <small *ngIf="formNuevaCarrera.get('precio')?.errors?.['required']"> Este campo es requerido.</small>
            </div>

            <ion-item>
              <ion-label position="floating">comentario adicional</ion-label>
              <ion-input formControlName="comentarioA" type="text"></ion-input>
            </ion-item>

            <div *ngIf="formNuevaCarrera.get('comentarioA')?.invalid && formNuevaCarrera.get('comentarioA')?.touched"
              class="error-message">
              <small *ngIf="formNuevaCarrera.get('comentarioA')?.errors?.['required']"> Este campo es requerido.</small>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>