<div class="d-flex flex-column vh-100">
  <!-- Menú -->
  <app-menu [nombreUser]="nombreUser"></app-menu>

  <!-- Contenedor con scroll en el eje Y -->
  <div class="container-fluid overflow-auto flex-grow-1 py-4" style="max-height: calc(100vh - 56px);">
    <div class="text-center mb-4">
      <h1>Viajes disponibles</h1>
    </div>

    <div *ngIf="carreraExistente">
      <!-- Cuando hay viajes disponibles -->
      <div *ngIf="userPasajeroJson.enViaje == false && carreraExistente.length !== 0">
        <div class="card mb-3" *ngFor="let c of carreraExistente">
          <div class="card-header d-flex align-items-center">
            <div class="me-3">
              <i class="bi bi-person-circle fs-2"></i>
            </div>
            <h4 class="mb-0"><strong>{{ capitalizeFirstLetter(c.nombre) }}</strong></h4>
          </div>
          <div class="card-body">
            <div>
              <span>Disponibilidad: {{c.disponibilidad}}</span>
            </div>
            <div>
              <span>Fecha: {{extraerFecha(c.hora)}}</span>
            </div>
            <div>
              <span>Hora: {{extraerHora(c.hora)}}</span>
            </div>
            <div>
              <span>Inicio de ruta: {{c.inicioRuta}}</span>
            </div>
            <div>
              <span>Final de ruta: {{c.finRuta}}</span>
            </div>
            <div class="mt-3">
              <button class="btn btn-success" (click)="detalleViaje(c.id)">+ Información</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Cuando no hay viajes disponibles -->
      <div *ngIf="carreraExistente.length === 0 && userPasajeroJson.enViaje == false">
        <div class="card">
          <div class="card-body text-center">
            <h1><strong>Actualmente no hay viajes disponibles, verifique más tarde.</strong></h1>
          </div>
        </div>
      </div>

      <!-- Cuando hay un viaje en proceso -->
      <div *ngIf="carreraExistente.length !== 0 && userPasajeroJson.enViaje == true">
        <div class="card">
          <div class="card-body text-center">
            <h1><strong>Actualmente hay un viaje en proceso, para más información, 
              <a href="pasajero/viaje-actual">presione aquí</a>
            </strong></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
